<p>
  Refresh the page to see the new scores and added songs!
</p>
<P>
  Update the playlist to add the top voted song!
</P>
<button class="btn" data-ng-click="AdminPlistViewModel.refresh_token()">Refresh Token</button>
<button class="btn" data-ng-click="AdminPlistViewModel.playlistSort()">Update Playlist</button>
<br>
<br>
<div data-ng-bind-html="AdminPlistViewModel.play_song"></div>

<br><br>


    <div class="songs" data-ng-repeat="song in AdminPlistViewModel.songs | orderBy: AdminPlistViewModel.orderByFunction : true | filter: {active: true}">

        <div class="track">
          <div class="score">
          {{song.score}}</div>
          <div class="votebuttons">
          <button class="btn btn-success" data-ng-click="AdminPlistViewModel.update_score(song, 1)">Vote up</button>
          <button class="btn btn-danger" data-ng-click="AdminPlistViewModel.update_score(song, -1)">Vote down</button>
          <button class="btn btn-warning" data-ng-click="AdminPlistViewModel.remove_song(song)">Remove</button>
        </div>
        <div class="songdesc"><p>
          {{song.title}} by {{song.artist}}&nbsp&nbsp-&nbsp&nbsp{{song.user}}</p>
        </div>


    </div>
      <img data-ng-src="{{song.album_art}}" alt="{{song.title}}" />
    </div>
