
<h2>Create a new Playlist!</h2>

<p>First you need to log in to Spotify</p>
<h5>Don't worry, your friends won't need to log in.</h5>
<p>The Access code is a code that you will create to share with your friends to add to the playlist</p>
<br>
<h5>You will also need to have Spotify app running (this wont work on the web-app)</h5>
<img data-ng-click="CreateViewModel.login()" data-ng-if="CreateViewModel.login_check == 0" src="assets/login.png" alt="spotifylogin">
<br><br><br>

<div data-ng-if="CreateViewModel.login_check == 1">
    <form data-ng-submit="CreateViewModel.create(name, access_code, songs_per_user, location)">
        <input placeholder="Name" data-ng-model="name" />
        <input placeholder="Create Access code" data-ng-model="access_code" />
        <input placeholder="Songs per user" data-ng-model="songs_per_user" />
        <input type="textarea" placeholder="Location" data-ng-model="location" />
        <!-- <input type="text" data-ng-model="CreateViewModel.new_playlist.access_token" value="{{CreateViewModel.access_token}}" style="display: none"/> -->
        <br><br>
        <button class="big" type="submit">Create</button>
    </form>
</div>
