<form data-ng-submit="AddViewModel.search(vm.song_search)">
<input type="text" data-ng-model="vm.song_search" placeholder="Search for a song..." />
<button type="submit">Search</button>
</form>

<table>
    <thead>
        <tr>
            <td>#</td>
            <th>Title</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Album Art</th>
            <th>Duration</th>
            <th>Preview URL</th>
            <th>Image URL </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="track in AddViewModel.songs.tracks.items">
            <td><button data-ng-click="AddViewModel.add_song(track.name, track.artists[0].name, track.album.name, track.album.images[1].url, track.duration_ms, track.preview_url, track.album.images[1].url)">{{$index }}</button></td>
            <td>{{track.name}}</td>
            <td>{{track.artists[0].name}}</td>
            <td>{{track.album.name}}</td>
            <td><img ng-src={{track.album.images[1].url}} style="height: 50px" /></td>
            <td>{{track.duration_ms}}</td>
            <!-- <td>{{track.preview_url}}</td>
            <td>{{track.album.images[1].url}}</td> -->

        </tr>
    </tbody>
</table>
