<h3>Welcome to OneAux</h3>
<button class="button"><a data-ui-sref="Home" >Home</a></button>

 <h4>to get the party started enter your name along with your playlist code</h4>
<form>
  <input type="text" ng-model="name" placeholder="name"><br>
  <input type="text" ng-model="access_code" placeholder="playlist code">
</form>
<h3>Your name is: <br>{{name}}</h3>
<h3>Your playlist code is: <br>{{access_code}}</h3>

<button class="button" data-ng-click="JoinViewModel.join_plist(access_code)">Join Playlist</button>
