<button class="btn"><a data-ui-sref="Home">Back to home</a></button>
<button class="btn"><a data-ui-sref="Add({id: CurrentPlaylistViewModel.playlist_id, user: CurrentPlaylistViewModel.user_name})">Add Some More Songs</a></button>

<!-- <button class="button" data-ng-click="AdminPlistViewModel.refresh_token()">Refresh Token</button> -->
<button id="update" data-ng-hide="true" class="btn" data-ng-click="CurrentPlaylist.playlistSort()">Update Playlist</button>
<br>
<br>


    <div class="songs" data-ng-repeat="song in CurrentPlaylist.songs | orderBy: 'score' : true">

        <div class="track">
          <div class="score">
          {{song.score}}</div>
          <div class="votebuttons">
          <button class="btn btn-success" data-ng-click="CurrentPlaylist.update_score(song, 1)">Vote up</button>

          <button class="btn btn-danger" data-ng-click="CurrentPlaylist.update_score(song, -1)">Vote down</button>
        </div>
        <div class="songdesc"><p>
          {{song.title}} by {{song.artist}}</p>
        </div>

    </div>
      <img data-ng-src="{{song.album_art}}" alt="{{song.title}}" />
    </div>
