
<h3>Create.html</h3>

<button class="button"><a data-ui-sref="Home" >Back to home</a></button>


<h2>Create a new Playlist!</h2>

<form data-ng-submit="vm.create()">
  <input placeholder="Name" data-ng-model="CreateViewModel.new_raptor.name" />
  <input placeholder="Access code" data-ng-model="CreateViewModel.new_raptor.access_code" />
  <input placeholder="Songs per user" data-ng-model="CreateViewModel.new_raptor.songs_per_user" />
  <input placeholder="Location" data-ng-model="CreateViewModel.new_raptor.location"></textarea>
  <button type="button" data-ng-click="CreateViewModel.create()">Create</button>
</form>
