body{
  text-align: center;
  background-color: black;
  color: white;

}
.big{
    -moz-box-shadow:inset 3px 8px 10px 0px #ffffff;
    -webkit-box-shadow:inset 3px 8px 10px 0px #ffffff;
    box-shadow:inset 3px 8px 10px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
  /*font-family: 'Alegreya Sans', sans-serif;*/
    font-size:38px;
    font-weight:bold;
  font-style: italic;
    padding:24px 53px;
    text-decoration: none;
    text-shadow:0px 0px 0px #ffffff;
}
.big:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
    color: purple;
}
.big a:hover {
  color: purple;
  text-decoration: none;
}
.big:active {
    position:relative;
    top:1px;
}
.big a{
  text-decoration: none;
  /*font-family: 'Alegreya Sans', sans-serif;*/
  dispay: inline-block;
  color:#777777;

}

#home{
  color: lightblue;
}
a:visited{
  color:#777777;
}
a:hover{
  text-decoration: none;
}
input {
  height: 40px;
  width: 200px;
  font-size: 20px;
  text-align: center;
  color: black;
}
h1{
  font-size: 70px;
  padding-bottom: 10px;
}
h3{
  font-size: 55px;
}
a:hover {
  color: purple;
  text-decoration: none;
}
#home:hover {
  color: purple;
  text-decoration: none;
}
p{
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.score{
  float: left;
  width: 7%;
  height: 20%;
  font-size: 3em;
  font-weight: bold;

}
.votebuttons{
  float: left;
  margin-top: 1em;
  margin-bottom: .5em;
}
.songdesc{
  width: 70%;
  font-size: 1.2em;
  float: left;


}
.songs {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    margin: .5em;
    background-color: rgb(204,204,204);


}
.songs img {
    width: 4em;
    display: block;
    float: right;
    margin-right: 1em;
    margin-bottom: .5em;
    margin-top: .5em;
}
.songs p {
    position: absolute;
    font-family: 'Helvetica Neue';
    bottom: 0;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    margin: 0 0 0 .5em;
    width: 100%;
    font-weight: 200;
    padding: .5em .5em .5em .5em;
    /*background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(80, 80, 80, 0)), to(rgba(50, 50, 50, 0.8)), color-stop(.5, #333333));*/
}
.track{
}
#viewadd{
  margin-left: auto;
  margin-right: auto;
}
.btn-info:hover{
  color: purple;
}
.btn-success:hover{
  color: purple;
}
.btn-danger:hover{
  color: purple;
}
.btn:hover{
  color: purple;
}
.footer{
position: absolute;
bottom: 20px;
right: 50%;
left: 50%;
display:flex;
justify-content:center;
align-items:flex-end;
}
#logo{
  height: 100px;
  width: 100px;
}
.codes{
  color: purple;
}
.biolink {
  color: lightblue;
  font-size: 120%;
}
/*.biolink:hover{
  color: lightblue;
}*/
.biolink:visited{
  color: lightblue;
}
