
.adminsong {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    margin: .5em;
    background-color: rgb(204,204,204);
}
.adminsong img {
    width: 2.8em;
    display: block;
    float: right;
    margin-right: 1em;
}
.adminsong p {
    position: absolute;
    font-family: 'Helvetica Neue';
    bottom: 0;
    cursor: pointer;
    font-size: 1.2em;
    color: black;
    margin: 0 0 0 .5em;
    width: 100%;
    font-weight: 200;
    padding: .5em .5em .5em .5em;
    /*background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(80, 80, 80, 0)), to(rgba(50, 50, 50, 0.8)), color-stop(.5, #333333));*/
}
